!!!
%html
  %head
    %title Comedy Base: Your Ultimate Comedy Resource
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400'
    %meta(content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" name="viewport")/
    = render "shared/preload_data"
    = filepicker_js_include_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{'ng-app' => 'ComedyBase'}
    .navbar.navbar-inverse
      .navbar-inner{'ng-controller' => 'ComedyBaseHeaderCtrl'}
        %a.brand{:href => "/", 'ng-class' => "{active:isActive('/')}"}
          Comedy Base
        %ul.nav.pull-right
          %li
            %form.navbar-search
              %input{:type => "text", :class => "search-query", :placeholder => "Search"}
          -if user_signed_in?
            %li.navbar-userinfo
              %a{:href => '{{profileLink()}}'}
                =current_user.name
                's Settings
                %i.icon-pencil.icon-white


    = yield

    %footer.footer.clearfix
      .container
        &copy; Comedy Base
        %ul.nav.pull-right
          %li
            %a{:href => '/about', 'ng-class' => "{active:isActive('/about')}"} About

