!!!
%html
  %head
    %title Kucheka
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700'
    = render "shared/preload_data"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{'ng-app' => 'Kucheka'}
    .navbar
      .navbar-inner
        %a.brand{:href => "/", 'ng-class' => "{active:isActive('/')}"}
          Kucheka
        %ul.nav.pull-right
          %li
            %a{:href => '/about', 'ng-class' => "{active:isActive('/about')}"} About
          %li.navbar-userinfo
            %a{:href => '#'}
              -if user_signed_in?
                =current_user.name

    %div{'ng-controller' => "KuchekaCtrl"}
      = yield
